{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card" style="width: 32rem; background-color: rgb(125, 172, 235); position: relative; top: 30%; left: 35%;" >
    <div class="card-body">


                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </form>
                    <div class="mt-3">
                        <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Registrarse</a></p>
                    </div>

    </div>
</div>
{% endblock content %}